<div class="d-flex justify-content-between mt-5">
  <div>
    <button class="btn btn-secondary">Cancel</button>
  </div>
  <div>
  <ng-container *ngFor="let actionItem of entireForm?.listOfAction">
    <button style="margin-left: 10px;" [disabled]="!checkValidations()" [id]="actionItem.id" [ngClass]="actionItem.class" (click)="performAction(actionItem)">{{actionItem.label}}</button>
    <!-- <button class="btn btn-primary">Save</button>
    <button class="btn btn-primary">Update</button>
    <button class="btn btn-primary">Delete</button> -->
  </ng-container>
</div>
</div>
