<div class="container" style="margin-bottom: 10px" *ngIf="!loading">
  <div class="row">
    <ng-container *ngFor="let field of ratingFormFields">
      <div [ngClass]="field.class" *ngIf="field.type == 'h4'">
        <h4>{{ field.label }}</h4>
      </div>
      <div [ngClass]="field.class" *ngIf="field.type == 'h5'">
        <h5>{{ field.label }}</h5>
      </div>

      <div [ngClass]="field.class" *ngIf="field.type == 'input'">
        <kendo-label [for]="field.id" [text]="field.label"></kendo-label>
        <kendo-textbox
          [(ngModel)]="field.value"
          [id]="field.id"
        ></kendo-textbox>
      </div>

      <div [ngClass]="field.class" *ngIf="field.type === 'grid'">
        {{ field.label }}
      </div>

      <ng-container *ngIf="field.children">
        <ng-container *ngIf="field.childrenType === 'list'">
          <div [ngClass]="field.class">
            <ol>
              <li *ngFor="let child of field.children">
                {{ child.label }}
              </li>
            </ol>
          </div>
        </ng-container>
      </ng-container>

      <div [ngClass]="field.class" *ngIf="field.type == 'radio-inline'">
          <input
            type="radio"
            [id]="field.id"
            [value]="field.value"
            [name]="field.name"
            [(ngModel)]="field.selectedValue"
            kendoRadioButton
          />
          <kendo-label
            style="display: block"
            class="k-radio-label"
            [for]="field.id"
            [text]="field.label"
          ></kendo-label>
      </div>

      <div [ngClass]="field.class" *ngIf="field.type == 'signature'">
            <kendo-label
              class="k-checkbox-label"
              [for]="field.id"
              [text]="field.label"
            ></kendo-label>
            <kendo-signature
            style="width: 100%"
              #signature
              [strokeWidth]="3"
              [smooth]="true"
              [maximizable]="false"
              [hideLine]="true"
              [(ngModel)]="field.value"
            ></kendo-signature>
          </div>

          <div [ngClass]="field.class" *ngIf="field.type == 'date'">
             <kendo-label class="k-checkbox-label" [for]="field.id" [text]="field.label"></kendo-label>
        <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
          </div>

    </ng-container>
  </div>

  <!-- <form class="k-form k-form-md mt-5" [formGroup]="ratingForm" id="ratingForm">
    <div>
      <div class="row" *ngFor="let field of ratingFormFields">
        <div [ngClass]="field.class" *ngIf="field.type == 'heading'">
          {{ field.label }}
        </div>
        <ng-container *ngFor="let child of field.children">
          <div [ngClass]="child.class" *ngIf="child.type == 'heading'">
            {{ child.label }}
          </div>
          <div [ngClass]="child.class" *ngIf="child.type == 'text'">
            <kendo-label
              class="k-checkbox-label"
              [for]="child.id"
              [text]="child.label"
            ></kendo-label>
            <kendo-textbox
              [formControlName]="child.formControlName"
              [id]="child.id"
              required
            ></kendo-textbox>
          </div>
          <div [ngClass]="child.class" *ngIf="child.type == 'list'">
            <p style="margin-bottom: 0">{{ child.label }}</p>
          </div>
          <div class="row" *ngIf="child.type == 'grid'">
            <ng-container *ngFor="let eachRow of child.children">
              <div [ngClass]="eachRow.class" *ngIf="eachRow.type === 'grid'">
                {{ eachRow.label }}
              </div>
              <div [ngClass]="eachRow.class" *ngIf="eachRow.type == 'text'">
                <kendo-textbox
                  [formControlName]="eachRow.formControlName"
                  [id]="eachRow.id"
                  required
                ></kendo-textbox>
              </div>
            </ng-container>
          </div>
          <div [ngClass]="child.class" *ngIf="child.type == 'checkbox'">
            <kendo-label
              class="k-checkbox-label"
              [for]="child.id"
              [text]="child.label"
            ></kendo-label>
           <ng-container *ngFor="let item of child.children">
             <input
              type="checkbox"
              [id]="item.id"
              kendoCheckBox
            />
            <kendo-label
              class="k-checkbox-label"
              [for]="item.id"
              [text]="item.label"
            ></kendo-label>
           </ng-container>
          </div>
          <div [ngClass]="child.class" *ngIf="child.type == 'radio'">
            <kendo-label
              class="k-radio-label"
              [for]="child.id"
              [text]="child.label"
            ></kendo-label>

            <input
              type="radio"
              [id]="child.id"
              [formControlName]="child.formControlName"
              [value]="child.value"
              kendoRadioButton
            />
          </div>

          <div [ngClass]="child.class" *ngIf="child.type == 'signature'">
            <kendo-label
              class="k-checkbox-label"
              [for]="child.id"
              [text]="child.label"
            ></kendo-label>
            <kendo-signature
              #signature
              [(value)]="dirSignValue"
              [strokeWidth]="3"
              [smooth]="true"
              [maximizable]="false"
              [hideLine]="true"

            ></kendo-signature>
          </div>


          <div [ngClass]="child.class" *ngIf="child.type == 'date'">
             <kendo-label class="k-checkbox-label" [for]="child.id" [text]="child.label"></kendo-label>
        <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
          </div>

          <div [ngClass]="child.class" *ngIf="child.type == 'switch'">

             <kendo-label [text]="child.label">
            </kendo-label>
            <kendo-switch [(ngModel)]="checked" onLabel="Yes"
        offLabel="No"></kendo-switch>



          </div>


        </ng-container>
      </div>
    </div>
  </form> -->
</div>

<div>
  <button class="btn btn-info" (click)="logJson()">Log Json</button>
</div>
