<!-- <div class="container mt-5"> -->
<!-- <div [innerHTML]="myData"></div>
<div class="k-block">
    <button kendoButton [size]="size" [rounded]="rounded" [fillMode]="fillMode" [themeColor]="themeColor"
      (click)="submitForm()">
      Log Form
    </button>
  </div> -->
<!-- <div [innerHTML]="cleanedData"></div> -->

<!-- <div class="row">
    <form class="k-form k-form-md mt-5" [formGroup]="testForm" *ngIf="testForm">
      <fieldset class="k-form-fieldset">
        <legend class="k-form-legend">
          POPA Part-time program request form
        </legend>
        <br />
        <span *ngFor="let formField of formFields">
          <div class="col-md-12">
            <kendo-formfield *ngIf="formField.type === 'text'">
              <kendo-label labelCssClass="k-form-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-textbox [formControlName]="formField.formControlName" [id]="formField.id" required></kendo-textbox>
              <kendo-formhint>Your first name</kendo-formhint>
              <kendo-formerror>Error: First name is required</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield *ngIf="formField.type === 'date'">
              <kendo-label labelCssClass="k-form-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
            </kendo-formfield>

            <kendo-formfield *ngIf="formField.type === 'number'">
              <kendo-label labelCssClass="k-form-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-numerictextbox format="# years old" [step]="1" [value]="formField.value"
                [formControlName]="formField.formControlName"></kendo-numerictextbox>
            </kendo-formfield>

            <kendo-formfield *ngIf="formField.type === 'checkbox'">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <input type="checkbox" [id]="formField.id" [formControlName]="formField.formControlName" kendoCheckBox />
            </kendo-formfield>

            <kendo-formfield *ngIf="formField.type === 'textarea'">
              <kendo-label [text]="formField.label"></kendo-label>
              <kendo-textarea placeholder="Tell us a little bit about yourself..." [rows]="3" resizable="vertical"
                [formControlName]="formField.formControlName"></kendo-textarea>
            </kendo-formfield>

            <kendo-formfield *ngIf="formField.type === 'radio'">
              <div class="form-check form-check-inline">
                <kendo-label class="form-check-label" [for]="formField.id" [text]="formField.label"></kendo-label>

                <input class="form-check-input" type="radio" [formControlName]="formField.formControlName"
                  [id]="formField.id" [name]="formField.name" [value]="formField.label" kendoRadioButton />
              </div>
            </kendo-formfield>
          </div>
        </span>
      </fieldset>
    </form>
  </div> -->

<!-- <kendo-label *ngIf="formField.type === 'text'" [text]="formField.label">
              <kendo-textbox
                [formControlName]="formField.formControlName"
              ></kendo-textbox>
            </kendo-label> -->

<!-- <label [for]="formField.id"
            >{{ formField.label }}
            <input
              [checked]="formField.value"
              [type]="formField.type"
              [id]="formField.id"
              [formControlName]="formField.formControlName"
              [name]="formField.name"
            />
          </label> -->

         <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Forms</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="part-time">Part time</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pap-cover">PAP Cover</a>
        </li>
 <li class="nav-item">
          <a class="nav-link" routerLink="ratings">Ratings</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="new-ratings">New Ratings</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



<!-- <div class="container">
  <div class="row">
    <div class="col-md-3">
      <button kendoButton themeColor="primary" routerLink="part-time">
        Part time form
      </button>
    </div>
    <div class="col-md-3">
      <button kendoButton themeColor="primary" routerLink="pap-cover">
        PAPCover form
      </button>
    </div>
    <div class="col-md-3">
      <button kendoButton themeColor="primary" [routerLink]="['/ratings']">
        Rating form
      </button>
    </div>
    <div class="col-md-3">
      <button kendoButton themeColor="primary" [routerLink]="['/new-ratings']">
        New Rating form
      </button>
    </div>
  </div>
</div> -->


<router-outlet></router-outlet>
<!-- </div> -->
