<!-- <div class="container mt-5"> -->
<!-- <div [innerHTML]="myData"></div>
<div class="k-block">
    <button kendoButton [size]="size" [rounded]="rounded" [fillMode]="fillMode" [themeColor]="themeColor"
      (click)="submitForm()">
      Log Form
    </button>
  </div> -->
--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
<!-- <div [innerHTML]="cleanedData"></div> -->

<!-- <div class="row">
    <form class="k-form k-form-md mt-5" [formGroup]="testForm" *ngIf="testForm">
      <fieldset class="k-form-fieldset">
        <legend class="k-form-legend">
          POPA Part-time program request form
        </legend>
        <br />
        <span *ngFor="let formField of formFields">
          <div class="col-md-12">
            <kendo-formfield *ngIf="formField.type === 'text'">
              <kendo-label labelCssClass="k-form-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-textbox [formControlName]="formField.formControlName" [id]="formField.id" required></kendo-textbox>
              <kendo-formhint>Your first name</kendo-formhint>
              <kendo-formerror>Error: First name is required</kendo-formerror>
            </kendo-formfield>

            <kendo-formfield *ngIf="formField.type === 'date'">
              <kendo-label labelCssClass="k-form-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
            </kendo-formfield>

            <kendo-formfield *ngIf="formField.type === 'number'">
              <kendo-label labelCssClass="k-form-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-numerictextbox format="# years old" [step]="1" [value]="formField.value"
                [formControlName]="formField.formControlName"></kendo-numerictextbox>
            </kendo-formfield>

            <kendo-formfield *ngIf="formField.type === 'checkbox'">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <input type="checkbox" [id]="formField.id" [formControlName]="formField.formControlName" kendoCheckBox />
            </kendo-formfield>

            <kendo-formfield *ngIf="formField.type === 'textarea'">
              <kendo-label [text]="formField.label"></kendo-label>
              <kendo-textarea placeholder="Tell us a little bit about yourself..." [rows]="3" resizable="vertical"
                [formControlName]="formField.formControlName"></kendo-textarea>
            </kendo-formfield>

            <kendo-formfield *ngIf="formField.type === 'radio'">
              <div class="form-check form-check-inline">
                <kendo-label class="form-check-label" [for]="formField.id" [text]="formField.label"></kendo-label>

                <input class="form-check-input" type="radio" [formControlName]="formField.formControlName"
                  [id]="formField.id" [name]="formField.name" [value]="formField.label" kendoRadioButton />
              </div>
            </kendo-formfield>
          </div> 
        </span>
      </fieldset>
    </form>
  </div> -->

<!-- <kendo-label *ngIf="formField.type === 'text'" [text]="formField.label">
              <kendo-textbox
                [formControlName]="formField.formControlName"
              ></kendo-textbox>
            </kendo-label> -->

<!-- <label [for]="formField.id"
            >{{ formField.label }}
            <input
              [checked]="formField.value"
              [type]="formField.type"
              [id]="formField.id"
              [formControlName]="formField.formControlName"
              [name]="formField.name"
            />
          </label> -->


<div class="container" style="margin-bottom: 10px;">
  <form class="k-form k-form-md mt-5" [formGroup]="testForm">
    <div class="row" id="mainDiv" *ngFor="let formField of formFields;let i=index;let even = even;">
      <div *ngIf="testForm && even">
        <div class="row" *ngIf="even && formFields[i].section=='header'">
          <div class="col-md-6" *ngIf="formFields[i].section=='header'">
            <div class="row">
              <div class="col-md-3" style="padding-left: 20px;">
                <kendo-label labelCssClass="k-form-label" [for]="formFields[i].id"
                  [text]="formFields[i].label"></kendo-label>
              </div>
              <div class="col-md-6" style="padding-bottom: 10px;">
                <kendo-textbox [formControlName]="formFields[i].formControlName" [id]="formFields[i].id"
                  required></kendo-textbox>
              </div>
            </div>
          </div>
          <div class="col-md-6" *ngIf="formFields[i+1].section=='header'">
            <div class="row">
              <div class="col-md-3" style="padding-left: 20px;">
                <kendo-label labelCssClass="k-form-label" [for]="formFields[i+1].id"
                  [text]="formFields[i+1].label"></kendo-label>
              </div>
              <div class="col-md-6" style="padding-bottom: 10px;">
                <kendo-textbox [formControlName]="formFields[i+1].formControlName" [id]="formFields[i+1].id"
                  required></kendo-textbox>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" style="border: solid;">
        <div class="row" *ngFor="let formField of formFields;let i=index;">
          <div class="col-md-12" *ngIf="formFields[i].section=='currentMember'">
            <div class="wrap" *ngIf="formField.type === 'checkbox' && formField.category == 'main'">
              <input type="checkbox" [id]="formField.id" [formControlName]="formField.formControlName" kendoCheckBox />
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
            <div class="wrap" *ngIf="formField.type === 'checkbox' && formField.category == 'sub'"
              style="margin-left: 50px;">
              <input type="checkbox" [id]="formField.id" [formControlName]="formField.formControlName" kendoCheckBox />
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
            <div class="wrap" *ngIf="formField.type === 'checkbox' && formField.category == 'subsub'"
              style="margin-left: 50px;">
              <input type="checkbox" [id]="formField.id" [formControlName]="formField.formControlName" kendoCheckBox />
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
            <div class="wrap" *ngIf="formField.type === 'label' && formField.category == 'main'">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
            <div class="wrap" *ngIf="formField.type === 'label' && formField.category == 'sub'"
              style="margin-left: 50px;">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
            <div class="wrap" *ngIf="formField.type === 'label' && formField.category == 'subsub'"
              style="margin-left: 50px;">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
            <div class="wrap" *ngIf="formField.type === 'date' && formField.category == 'main'">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
            </div>
            <div class="wrap" *ngIf="formField.type === 'date' && formField.category == 'sub'"
              style="margin-left: 50px;">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
            </div>
            <div class="wrap" *ngIf="formField.type === 'date' && formField.category == 'subsub'"
              style="margin-left: 50px;display: flex;">
              <kendo-label labelCssClass="k-form-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="border: solid;">
        <div class="row" *ngFor="let formField of formFields;let i=index;">
          <div class="col-md-12" *ngIf="formFields[i].section=='newMember'">
            <div class="wrap" *ngIf="formField.type === 'checkbox' && formField.category == 'main'">
              <input type="checkbox" [id]="formField.id" [formControlName]="formField.formControlName" kendoCheckBox />
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
            <div class="wrap" *ngIf="formField.type === 'checkbox' && formField.category == 'sub'"
              style="margin-left: 50px;">
              <input type="checkbox" [id]="formField.id" [formControlName]="formField.formControlName" kendoCheckBox />
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
            <div class="wrap" *ngIf="formField.type === 'checkbox' && formField.category == 'subsub'"
              style="margin-left: 50px;">
              <input type="checkbox" [id]="formField.id" [formControlName]="formField.formControlName" kendoCheckBox />
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
            <div class="wrap" *ngIf="formField.type === 'label' && formField.category == 'main'">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
            <div class="wrap" *ngIf="formField.type === 'label' && formField.category == 'sub'"
              style="margin-left: 50px;">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
            <div class="wrap" *ngIf="formField.type === 'label' && formField.category == 'subsub'"
              style="margin-left: 50px;">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
            <div class="wrap" *ngIf="formField.type === 'date' && formField.category == 'main'">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
            </div>
            <div class="wrap" *ngIf="formField.type === 'date' && formField.category == 'sub'"
              style="margin-left: 50px;">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
            </div>
            <div class="wrap" *ngIf="formField.type === 'date' && formField.category == 'subsub'"
              style="margin-left: 50px;display: flex;">
              <kendo-label labelCssClass="k-form-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
            </div>
            <div class="wrap" *ngIf="formField.type === 'text' && formField.category == 'main'"
              style="display: flex !important;">
              <kendo-label labelCssClass="k-form-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-textbox [formControlName]="formField.formControlName" [id]="formField.id"></kendo-textbox>
            </div>
            <div class="wrap" *ngIf="formField.type === 'text' && formField.category == 'sub'"
              style="margin-left: 50px;display: flex;">
              <kendo-label labelCssClass="k-form-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-textbox [formControlName]="formField.formControlName" [id]="formField.id"></kendo-textbox>
            </div>
            <div class="wrap" *ngIf="formField.type === 'text' && formField.category == 'subsub'"
              style="margin-left: 50px;display: flex;">
              <kendo-label labelCssClass="k-form-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-textbox [formControlName]="formField.formControlName" [id]="formField.id"></kendo-textbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row" *ngFor="let formField of formFields;let i=index;">
          <div class="col-md-12" *ngIf="formFields[i].section=='Schedule'">
            <div class="wrap" *ngIf="formField.type === 'label' && formField.category == 'main'"
              style="text-align: center;">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
            <div class="wrap" *ngIf="formField.type === 'label' && formField.category == 'sub'"
              style="margin-left: 50px;">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
            <div class="wrap" *ngIf="formField.type === 'label' && formField.category == 'subsub'"
              style="margin-left: 50px;">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
            <div class="wrap" *ngIf="formField.type === 'date' && formField.category == 'main'">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
            </div>
            <div class="wrap" *ngIf="formField.type === 'date' && formField.category == 'sub'"
              style="margin-left: 50px;">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
              <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table>
          <tr>
            <td *ngFor="let formField of formFields;let i=index;">
              <div
                *ngIf="formField.type === 'label' && formFields[i].section=='Schedule' && formField.category == 'table'"
                style="padding: 5px;text-align: center;">
                <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"
                  style="padding-left: 250px;padding-right: 250px;"></kendo-label>
              </div>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td *ngFor="let formField of formFields;let i=index;">
              <div *ngIf="formField.type === 'text' && formFields[i].section=='Schedule'"
                style="padding: 5px;text-align: center;">
                <kendo-label labelCssClass="k-form-label" [for]="formField.id" [text]="formField.label"
                  style="display: inline-block;"></kendo-label>
                <kendo-textbox [formControlName]="formField.formControlName" [id]="formField.id"></kendo-textbox>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row" *ngFor="let formField of formFields;let i=index;">
          <div class="col-md-12" *ngIf="formFields[i].section=='Schedule'">
            <div class="wrap" *ngIf="formField.type === 'label' && formField.category == 'tableSub'"
              style="margin-left: 300px;">
              <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table>
          <tr>
            <td *ngFor="let formField of formFields;let i=index;">
              <div class="wrap" *ngIf="formFields[i].section=='sign' && formField.type === 'sign'"
                style="display: flex;">
                <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
                <kendo-signature #signature [(value)]="value" [strokeWidth]="3" [smooth]="true" [maximizable]="false"
                  [hideLine]="true" style="width: 600px;"></kendo-signature>
              </div>
              <div class="wrap" *ngIf="formFields[i].section=='sign' && formField.type === 'date'"
                style="display: flex;">
                <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
                <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngFor="let formField of formFields;let i=index;">
        <div class="wrap" *ngIf="formFields[i].section=='supAck'">
          <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table>
          <tr>
            <td *ngFor="let formField of formFields;let i=index;">
              <div class="wrap" *ngIf="formFields[i].section=='sup' && formField.type === 'text'"
                style="display: flex;">
                <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"
                  style="width: 150px;"></kendo-label>
                <kendo-textbox [formControlName]="formField.formControlName"></kendo-textbox>
              </div>
              <div class="wrap" *ngIf="formFields[i].section=='sup' && formField.type === 'sign'"
                style="display: flex;">
                <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
                <kendo-signature #signature [(value)]="supValue" [strokeWidth]="3" [smooth]="true" [maximizable]="false"
                  [hideLine]="true" style="width: 600px;"></kendo-signature>
              </div>
              <div class="wrap" *ngIf="formFields[i].section=='sup' && formField.type === 'date'"
                style="display: flex;">
                <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
                <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
              </div>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td *ngFor="let formField of formFields;let i=index;">
              <div class="wrap" *ngIf="formFields[i].section=='dir' && formField.type === 'text'"
                style="display: flex;">
                <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"
                  style="width: 150px;"></kendo-label>
                <kendo-textbox [formControlName]="formField.formControlName"></kendo-textbox>
              </div>
              <div class="wrap" *ngIf="formFields[i].section=='dir' && formField.type === 'sign'"
                style="display: flex;">
                <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
                <kendo-signature #signature [(value)]="dirSignValue" [strokeWidth]="3" [smooth]="true"
                  [maximizable]="false" [hideLine]="true" style="width: 600px;"></kendo-signature>
              </div>
              <div class="wrap" *ngIf="formFields[i].section=='dir' && formField.type === 'date'"
                style="display: flex;">
                <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
                <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" *ngFor="let formField of formFields;let i=index;">
        <div class="wrap" *ngIf="formFields[i].section=='adminNote'">
          <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2" *ngFor="let data of jsonData?.listOfAction;let i=index;" style="padding-right: 20px;">
        <button kendoButton (click)="onButtonClick(data,i)" themeColor="primary">
          {{data.label}}
        </button>
      </div>
    </div>
  </form>
</div>

--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------


<div class="container" style="margin-bottom: 10px;">
  <!-- <form class="k-form k-form-md mt-5" [formGroup]="PAPCoverForm"> -->
    <div class="row" id="mainDiv" *ngFor="let formField of papFormFields;let i=index;let even = even;">
      <div class="col-md-8" *ngIf="formField.section=='header'">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
      </div>
      <div class="col-md-4" *ngIf="formField.section=='headerRight'">
        <div class="wrap">
          <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
          <kendo-textbox [formControlName]="formField.formControlName" [id]="formField.id"
            required></kendo-textbox>
        </div>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;let even = even;"> -->
      <div [class]="formField.colclass" *ngIf="formField.section=='section1'">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-textbox [formControlName]="formField.formControlName" [id]="formField.id"
          required></kendo-textbox>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;let even = even;"> -->
      <div class="col-md-4" *ngIf="formField.section=='section2-1'">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
      </div>
      <div class="col-md-4" *ngIf="formField.section=='section2-2'">
        <input type="checkbox" [id]="formField.id" [formControlName]="formField.formControlName" kendoCheckBox />
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
      </div>
      <div class="col-md-4" *ngIf="formField.section=='section2-3'">
        <input type="checkbox" [id]="formField.id" [formControlName]="formField.formControlName" kendoCheckBox />
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;"> -->
      <div class="col-md-4" *ngIf="formField.section=='sectionIII'">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;"> -->
      <div class="col-md-4" *ngIf="formField.section=='section3-1'">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
      </div>
      <div class="col-md-4" *ngIf="formField.section=='section3-2'">
        <input type="radio" name="coveredby" [value]="formField.id" #formField.id
          formControlName="formField.formControlName" kendoRadioButton />
        <kendo-label [for]="formField.id" [text]="formField.label"></kendo-label>
      </div>
      <div class="col-md-4" *ngIf="formField.section=='section3-3'">
        <input type="radio" name="coveredby" [value]="formField.id" #formField.id
          formControlName="formField.formControlName" kendoRadioButton />
        <kendo-label [for]="formField.id" [text]="formField.label"></kendo-label>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;"> -->
      <div [class]="formField.colclass" *ngIf="formField.section=='section3lbl'" style="text-align: center;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;"> -->
      <div *ngIf="formField.section=='section4' && formField.type === 'sign'" style="display: flex;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-signature #signature [(value)]="dirSignValue" [strokeWidth]="3" [smooth]="true" [maximizable]="false"
          [hideLine]="true" style="width: 600px;"></kendo-signature>
      </div>
      <div *ngIf="formField.section=='section4' && formField.type === 'date'" style="display: flex;width: auto;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;let even = even;"> -->
      <div *ngIf="formField.section=='section5' && formField.type === 'text'" style="display: flex;width: auto;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-textbox [formControlName]="formFields[i].formControlName" [id]="formFields[i].id"
          required></kendo-textbox>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;let even = even;"> -->
      <div *ngIf="formField.section=='section6' && formField.type === 'text'" style="display: flex;width: auto;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-textbox [formControlName]="formFields[i].formControlName" [id]="formFields[i].id"
          required></kendo-textbox>
      </div>
      <div *ngIf="formField.section=='section6' && formField.type === 'radio'" style="display: flex;">
        <input type="radio" name="yesNo" [value]="formField.id" #formField.id
          formControlName="formField.formControlName" kendoRadioButton />
        <kendo-label [for]="formField.id" [text]="formField.label"></kendo-label>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;let even = even;"> -->
      <div *ngIf="formField.section=='section7'" style="display: flex;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;"> -->
      <div *ngIf="formField.section=='section8' && formField.type === 'text'" style="display: flex;width: auto;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-textbox [formControlName]="formFields[i].formControlName" [id]="formFields[i].id"
        required></kendo-textbox>
      </div>
      <div *ngIf="formField.section=='section8' && formField.type === 'sign'" style="display: flex;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-signature #signature [(value)]="dirSignValue" [strokeWidth]="3" [smooth]="true" [maximizable]="false"
          [hideLine]="true" style="width: 600px;"></kendo-signature>
      </div>
      <div *ngIf="formField.section=='section8' && formField.type === 'date'" style="display: flex;width: auto;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;let even = even;"> -->
      <div *ngIf="formField.section=='section9'" style="display: flex;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;"> -->
      <div *ngIf="formField.section=='section10' && formField.type === 'text'" style="display: flex;width: auto;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-textbox [formControlName]="formFields[i].formControlName" [id]="formFields[i].id"
        required></kendo-textbox>
      </div>
      <div *ngIf="formField.section=='section10' && formField.type === 'sign'" style="display: flex;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-signature #signature [(value)]="dirSignValue" [strokeWidth]="3" [smooth]="true" [maximizable]="false"
          [hideLine]="true" style="width: 600px;"></kendo-signature>
      </div>
      <div *ngIf="formField.section=='section10' && formField.type === 'date'" style="display: flex;width: auto;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;let even = even;"> -->
      <div *ngIf="formField.section=='section11'" style="display: flex;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;"> -->
      <div *ngIf="formField.section=='section12' && formField.type === 'text'" style="display: flex;width: auto;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-textbox [formControlName]="formFields[i].formControlName" [id]="formFields[i].id"
        required></kendo-textbox>
      </div>
      <div *ngIf="formField.section=='section12' && formField.type === 'sign'" style="display: flex;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-signature #signature [(value)]="dirSignValue" [strokeWidth]="3" [smooth]="true" [maximizable]="false"
          [hideLine]="true" style="width: 600px;"></kendo-signature>
      </div>
      <div *ngIf="formField.section=='section12' && formField.type === 'date'" style="display: flex;width: auto;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;"> -->
      <div *ngIf="formField.section=='section13' && formField.type === 'text'" style="display: flex;width: auto;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-textbox [formControlName]="formFields[i].formControlName" [id]="formFields[i].id"
        required></kendo-textbox>
      </div>
      <div *ngIf="formField.section=='section13' && formField.type === 'sign'" style="display: flex;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-signature #signature [(value)]="dirSignValue" [strokeWidth]="3" [smooth]="true" [maximizable]="false"
          [hideLine]="true" style="width: 600px;"></kendo-signature>
      </div>
      <div *ngIf="formField.section=='section13' && formField.type === 'date'" style="display: flex;width: auto;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
        <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
      </div>
    <!-- </div>
    <div class="row" *ngFor="let formField of papFormFields;let i=index;let even = even;"> -->
      <div *ngIf="formField.section=='section14'" style="display: flex;">
        <kendo-label class="k-checkbox-label" [for]="formField.id" [text]="formField.label"></kendo-label>
      </div>
    </div>
  <!-- </form> -->
</div>
<router-outlet></router-outlet>
<!-- </div> -->
