<div class="container" style="margin-bottom: 10px" *ngIf="!loading">
  <div class="row">
    <ng-container *ngFor="let field of entireForm?.formDataStructure">
      <div [ngClass]="field.class" *ngIf="field.type == 'h4'">
        <h4>{{ field.label }}</h4>
      </div>
      <div [ngClass]="field.class" *ngIf="field.type == 'h5'">
        <h5>{{ field.label }}</h5>
      </div>

      <div [ngClass]="field.class" *ngIf="field.type == 'input'">
        <kendo-label [for]="field.id" [text]="field.label"></kendo-label>
        <kendo-textbox [(ngModel)]="field.value" [id]="field.id"></kendo-textbox>
      </div>

      <div [ngClass]="field.class" *ngIf="field.type == 'phone-number'">
        <kendo-label [for]="field.id" [text]="field.label"></kendo-label>
        <kendo-maskedtextbox [mask]="field.format" [value]="field.value">
        </kendo-maskedtextbox>

      </div>

      <div [ngClass]="field.class" *ngIf="field.type == 'paragraph'">
        <p>{{field.label}}</p>
      </div>

      <div [ngClass]="field.class" *ngIf="field.type === 'grid'">
        {{ field.label }}
      </div>

      <div [ngClass]="field.class" *ngIf="field.type == 'radio-inline'">
        <input type="radio" #field.id [value]="field.value" [name]="field.name" [(ngModel)]="field.selectedValue"
          kendoRadioButton />
        <kendo-label style="display: block" class="k-radio-label" [for]="field.id" [text]="field.label"></kendo-label>
      </div>

      <div [ngClass]="field.class" *ngIf="field.type == 'signature'">
        <kendo-label class="k-checkbox-label" [for]="field.id" [text]="field.label"></kendo-label>
        <kendo-signature style="width: 100%" #signature [strokeWidth]="3" [smooth]="true" [maximizable]="false"
          [hideLine]="true" [(ngModel)]="field.value"></kendo-signature>
      </div>

      <div [ngClass]="field.class" *ngIf="field.type == 'date'">
        <kendo-label class="k-checkbox-label" [for]="field.id" [text]="field.label"></kendo-label>
        <kendo-datepicker [(ngModel)]="field.value" placeholder="Choose a date ..."></kendo-datepicker>
      </div>

      <ng-container *ngIf="field.children">
        <ng-container *ngIf="field.childrenType === 'list'">
          <div [ngClass]="field.class">
            <ol>
              <li *ngFor="let child of field.children">
                {{ child.label }}
              </li>
            </ol>
          </div>
        </ng-container>

        <ng-container *ngIf="field.childrenType === 'input'">
          <div [ngClass]="field.class">
            <ng-container *ngFor="let child of field.children">
              <kendo-label [for]="child.id" [text]="child.label"></kendo-label>
              <kendo-textbox [(ngModel)]="child.value" [id]="child.id"></kendo-textbox>
            </ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="field.childrenType === 'checkbox'">
          <div [ngClass]="field.class">
            <ng-container *ngFor="let child of field.children">
              <ng-container *ngIf="child.type == 'checkbox'">
                <input [ngClass]="child.class" type="checkbox" [id]="child.id" [(ngModel)]="child.value"
                  kendoCheckBox />
                <kendo-label class="k-checkbox-label" [for]="child.id" [text]="child.label"></kendo-label>
                <br>
              </ng-container>
              <ng-container *ngIf="child.type == 'paragraph'">
                <!-- <div *ngIf="child.type == 'paragraph'"> -->
                <p [ngClass]="child.class">{{child.label}}</p>
                <!-- </div> -->
              </ng-container>
              <ng-container *ngIf="child.type == 'date'">
                <div [ngClass]="child.class" *ngIf="child.type == 'date'">
                  <kendo-label class="k-checkbox-label" [for]="child.id" [text]="child.label"></kendo-label>
                  <kendo-datepicker [(ngModel)]="child.value" placeholder="Choose a date ..."></kendo-datepicker>
                </div>
              </ng-container>
              <ng-container *ngIf="child.type == 'input'">
                <div [ngClass]="child.class">
                  <kendo-label [for]="child.id" [text]="child.label"></kendo-label>
                  <kendo-textbox [(ngModel)]="child.value" [id]="child.id"></kendo-textbox>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>

        <ng-container *ngIf="field.childrenType === 'radio'">
          <div [ngClass]="field.class">
            <ng-container *ngFor="let child of field.children">
              <input type="radio" #child.id [value]="child.value" [name]="child.name" [(ngModel)]="child.selectedValue"
                kendoRadioButton />
              <kendo-label class="k-radio-label" [for]="child.id" [text]="child.label"></kendo-label>
              <br>
            </ng-container>
          </div>
        </ng-container>


        <ng-container *ngIf="field.childrenType == 'table'">
          <div [ngClass]="field.class">
            <table>
              <tr>
                <td *ngFor="let child of field.children; let i=index;">
                  <kendo-label [for]="child.id" [text]="child.label"></kendo-label>
                  <kendo-textbox [(ngModel)]="child.value" [id]="child.id"></kendo-textbox>
                </td>
              </tr>
            </table>
          </div>
        </ng-container>


      </ng-container>
    </ng-container>
  </div>

  <app-action-buttons [entireForm]="entireForm"></app-action-buttons>
</div>
