<!-- <div
  class="container"
  style="margin-bottom: 10px"
  *ngIf="ratingForm && !loading"
>

  <form class="k-form k-form-md mt-5" [formGroup]="ratingForm" id="ratingForm">
    <div>
      <div class="row" *ngFor="let field of ratingFormFields">
        <div [ngClass]="field.class" *ngIf="field.type == 'heading'">
          {{ field.label }}
        </div>
        <ng-container *ngFor="let child of field.children">
          <div [ngClass]="child.class" *ngIf="child.type == 'heading'">
            {{ child.label }}
          </div>
          <div [ngClass]="child.class" *ngIf="child.type == 'text'">
            <kendo-label
              class="k-checkbox-label"
              [for]="child.id"
              [text]="child.label"
            ></kendo-label>
            <kendo-textbox
              [formControlName]="child.formControlName"
              [id]="child.id"
              required
            ></kendo-textbox>
          </div>
          <div [ngClass]="child.class" *ngIf="child.type == 'list'">
            <p style="margin-bottom: 0">{{ child.label }}</p>
          </div>
          <div class="row" *ngIf="child.type == 'grid'">
            <ng-container *ngFor="let eachRow of child.children">
              <div [ngClass]="eachRow.class" *ngIf="eachRow.type === 'grid'">
                {{ eachRow.label }}
              </div>
              <div [ngClass]="eachRow.class" *ngIf="eachRow.type == 'text'">
                <kendo-textbox
                  [formControlName]="eachRow.formControlName"
                  [id]="eachRow.id"
                  required
                ></kendo-textbox>
              </div>
            </ng-container>
          </div>
          <div [ngClass]="child.class" *ngIf="child.type == 'checkbox'">
            <kendo-label
              class="k-checkbox-label"
              [for]="child.id"
              [text]="child.label"
            ></kendo-label>
           <ng-container *ngFor="let item of child.children">
             <input
              type="checkbox"
              [id]="item.id"
              kendoCheckBox
            />
            <kendo-label
              class="k-checkbox-label"
              [for]="item.id"
              [text]="item.label"
            ></kendo-label>
           </ng-container>
          </div>
          <div [ngClass]="child.class" *ngIf="child.type == 'radio'">
            <kendo-label
              class="k-radio-label"
              [for]="child.id"
              [text]="child.label"
            ></kendo-label>

            <input
              type="radio"
              [id]="child.id"
              [formControlName]="child.formControlName"
              [value]="child.value"
              kendoRadioButton
            />
          </div>

          <div [ngClass]="child.class" *ngIf="child.type == 'signature'">
            <kendo-label
              class="k-checkbox-label"
              [for]="child.id"
              [text]="child.label"
            ></kendo-label>
            <kendo-signature
              #signature
              [(value)]="dirSignValue"
              [strokeWidth]="3"
              [smooth]="true"
              [maximizable]="false"
              [hideLine]="true"

            ></kendo-signature>
          </div>


          <div [ngClass]="child.class" *ngIf="child.type == 'date'">
             <kendo-label class="k-checkbox-label" [for]="child.id" [text]="child.label"></kendo-label>
        <kendo-datepicker placeholder="Choose a date ..."></kendo-datepicker>
          </div>

          <div [ngClass]="child.class" *ngIf="child.type == 'switch'">

             <kendo-label [text]="child.label">
            </kendo-label>
            <kendo-switch [(ngModel)]="checked" onLabel="Yes"
        offLabel="No"></kendo-switch>



          </div>


        </ng-container>
      </div>
    </div>
  </form>
</div> -->


<div>
  <button class="btn btn-info" (click)="logJson()">Log Json</button>
</div>
