<div class="container" style="margin-bottom: 10px">
  <!-- <form class="k-form k-form-md mt-5" [formGroup]="PAPCoverForm" id="PAPCoverForm"> -->
    <div>
      <div class="row" *ngFor="let field of papFormFields">
        <ng-container *ngFor="let child of field.children">
          <div [ngClass]="child.class" *ngIf="child.type == 'label'" style="border:1px solid black;">
            {{ child.label }}
          </div>
          <div [ngClass]="child.class" *ngIf="child.type == 'text'" style="border:1px solid black;">
            <kendo-label class="k-checkbox-label" [for]="child.id" [text]="child.label"></kendo-label>
            <kendo-textbox [id]="child.id" [style.width.px]="200"
              style="margin-left: 5px;margin-bottom: 5px;" [(ngModel)]="child.value"></kendo-textbox>
          </div>
          <div [ngClass]="child.class" *ngIf="child.type == 'radio'" style="border:1px solid black;">
            <input type="radio" [name]="child.name" [value]="child.id" [(ngModel)]="child.selectedValue" #child.id kendoRadioButton />
            <kendo-label [for]="child.id" [text]="child.label"></kendo-label>
          </div>
          <div [ngClass]="child.class" *ngIf="child.type == 'sign'" style="border:1px solid black;">
            <kendo-label class="k-checkbox-label" [for]="child.id" [text]="child.label"></kendo-label>
            <kendo-signature #signature [(value)]="child.value" [strokeWidth]="3" [smooth]="true"
             [id]="child.id" [(ngModel)]="child.value"
              [maximizable]="false" [hideLine]="true" style="width: 400px;"></kendo-signature>
          </div>
          <div [ngClass]="child.class" *ngIf="child.type == 'date'" style="border:1px solid black;">
            <kendo-label class="k-checkbox-label" [for]="child.id" [text]="child.label"></kendo-label>
            <kendo-datepicker [(ngModel)]="child.value" [id]="child.id" placeholder="Choose a date ..."></kendo-datepicker>
          </div>
          <div [ngClass]="child.class" *ngIf="child.type == 'subrow'" style="border:1px solid black;">
            <ng-container *ngFor="let eachRow of child.children">
              <div [ngClass]="eachRow.class" *ngIf="eachRow.type == 'label'">{{eachRow.label}}</div>
              <div [ngClass]="eachRow.class" *ngIf="eachRow.type == 'text'">
                <kendo-label class="k-checkbox-label" [for]="eachRow.id" [text]="eachRow.label"></kendo-label>
                <kendo-textbox [id]="eachRow.id" [(ngModel)]="eachRow.value" [style.width.px]="500"
                  style="margin-left: 5px;margin-bottom: 5px;"></kendo-textbox>
              </div>
              <div [ngClass]="eachRow.class" *ngIf="eachRow.type == 'checkbox'">
                <input type="checkbox" [id]="eachRow.id" [(ngModel)]="eachRow.value" kendoCheckBox />
                <kendo-label class="k-checkbox-label" [for]="eachRow.id" [text]="eachRow.label"></kendo-label>
              </div>
              <div [ngClass]="eachRow.class" *ngIf="eachRow.type == 'radio'">
                <input type="radio" [name]="eachRow.name" [value]="eachRow.id" [(ngModel)]="eachRow.selectedValue" #eachRow.id kendoRadioButton />
                <kendo-label [for]="eachRow.id" [text]="eachRow.label"></kendo-label>
              </div>
              <div [ngClass]="eachRow.class" *ngIf="eachRow.type == 'sign'">
                <kendo-label class="k-checkbox-label" [for]="eachRow.id" [text]="eachRow.label"></kendo-label>
                <kendo-signature #signature [(value)]="eachRow.value" [strokeWidth]="3" [smooth]="true" [(ngModel)]="eachRow.value"
                  [maximizable]="false" [hideLine]="true" style="width: 300px;"></kendo-signature>
              </div>
              <div [ngClass]="eachRow.class" *ngIf="eachRow.type == 'date'">
                <kendo-label class="k-checkbox-label" [for]="eachRow.id" [text]="eachRow.label"></kendo-label>
                <kendo-datepicker placeholder="Choose a date ..."   [(ngModel)]="eachRow.value"></kendo-datepicker>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  <!-- </form> -->
</div>
<div>
  <button class="btn btn-info" (click)="logJson()">Log Json</button>
</div>
